<a href="https://colab.research.google.com/github/tort-cam/ST554HW4/blob/main/HW4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Summarizing Data Numerically

##Reading in the data

In [3]:
sdata = pd.read_table("https://www4.stat.ncsu.edu/online/datasets/StudentData.txt", delimiter = ";")
sdata

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

## Summarizing the Data

### One-way Contingency Table

In [4]:
sdata.higher.value_counts()

## The count of 375 in 'yes' shows that the vast majority of the high-school students
#  in this study (375 students, ~95%) want to continue their education beyond high school

higher
yes    375
no      20
Name: count, dtype: int64

### Two-way Contingency Table

In [5]:
pd.crosstab(index = sdata.school, columns = sdata.address)

## The "25" under both 'MS' and 'R' here means that 25 of the students who
#  attend MS have rural addresses

address   R    U
school
GP       63  286
MS       25   21

### Three-way Contingency Table

In [6]:
pd.crosstab([sdata.Medu, sdata.Fedu], sdata.activities)

## The table gets a little unwieldy here with two non-binary categories,
#  but the 42 in the bottom-right cell tells us that there are 42 students who
#  participate in extra-curricular activities, and have a mother and father who
#  have both attended higher education.

activities  no  yes
Medu Fedu
0    1       1    0
     2       2    0
1    0       0    1
     1      23   14
     2       6    9
     3       3    2
     4       1    0
2    1      11   17
     2      27   24
     3      10    7
     4       2    5
3    1      11    4
     2      19    9
     3      16   22
     4       9    9
4    0       0    1
     1       0    1
     2      11    8
     3      14   26
     4      28   42

### Conditional Tables

In [7]:
pd.crosstab(sdata.loc[sdata["school"] == "GP"].Pstatus, columns = sdata.address)
#cancer_data.loc[cancer_data["meno"] == "premenopausal"].loc[:,'age':'grade']

address   R    U
Pstatus
A         6   32
T        57  254

In [8]:
bigtable = pd.crosstab([sdata.school,sdata.Pstatus], sdata.address)
bigtable[0:2]

address          R    U
school Pstatus
GP     A         6   32
       T        57  254

### Numeric Variables

In [9]:
numsd = sdata[["age", "absences", "G1", "G2", "G3"]]
numsd.describe()[0:3]

              age    absences          G1          G2          G3
count  395.000000  395.000000  395.000000  395.000000  395.000000
mean    16.696203    5.708861   10.908861   10.713924   10.415190
std      1.276043    8.003096    3.319195    3.761505    4.581443

In [10]:
numsd_le3 = sdata.loc[sdata["famsize"] == "LE3"][["age", "absences", "G1", "G2", "G3"]]
numsd_le3.describe()[0:3]

## Here I am only looking at students with family size <4

              age    absences          G1          G2          G3
count  114.000000  114.000000  114.000000  114.000000  114.000000
mean    16.771930    6.157895   11.280702   11.192982   11.000000
std      1.219568    7.633854    3.340576    3.458674    4.225921

### Single variable center & spread

In [11]:
sdata.groupby("school")[["age", "absences", "G3"]].mean()

              age  absences         G3
school
GP      16.521490  5.965616  10.489971
MS      18.021739  3.760870   9.847826

In [12]:
sdata.groupby("school")[["age", "absences", "G3"]].std()

             age  absences        G3
school
GP      1.216610  8.341764  4.625397
MS      0.881643  4.274913  4.237229

### Two variable center & spread

In [13]:
a = sdata.groupby(["school","famsize"])[["age", "absences", "G3"]].mean()
b = sdata.groupby(["school","famsize"])[["age", "absences", "G3"]].std()
print ("\t \t--- Means --- \n")
print(a)
print("\n \t--- Standard Deviations --- \n")
print(b)

	 	--- Means ---

                      age  absences         G3
school famsize
GP     GT3      16.511905  5.654762  10.345238
       LE3      16.546392  6.773196  10.865979
MS     GT3      18.000000  4.413793   8.724138
       LE3      18.058824  2.647059  11.764706

 	--- Standard Deviations ---

                     age  absences        G3
school famsize
GP     GT3      1.244853  8.453992  4.716236
       LE3      1.145831  8.029250  4.381849
MS     GT3      0.963624  4.777307  4.415044
       LE3      0.747545  3.060661  3.192362

### Corelation Matrix

In [14]:
sdata[["age", "absences", "G1", "G2", "G3"]].corr()

               age  absences        G1        G2        G3
age       1.000000  0.175230 -0.064081 -0.143474 -0.161579
absences  0.175230  1.000000 -0.031003 -0.031777  0.034247
G1       -0.064081 -0.031003  1.000000  0.852118  0.801468
G2       -0.143474 -0.031777  0.852118  1.000000  0.904868
G3       -0.161579  0.034247  0.801468  0.904868  1.000000